/* Coolors Exported Palette - https://coolors.co/b64c80-584264-a93525-6b4241-dbcb8b-e4eaf1-8c888d */

/* CSS HEX */
--mystic-maroon: #b64c80ff;
--english-violet: #584264ff;
--chinese-red: #a93525ff;
--rose-ebony: #6b4241ff;
--flax: #dbcb8bff;
--alice-blue: #e4eaf1ff;
--taupe-gray: #8c888dff;

/* CSS HSL */
--mystic-maroon: hsla(331, 42%, 51%, 1);
--english-violet: hsla(279, 20%, 33%, 1);
--chinese-red: hsla(7, 64%, 40%, 1);
--rose-ebony: hsla(1, 24%, 34%, 1);
--flax: hsla(48, 53%, 70%, 1);
--alice-blue: hsla(212, 32%, 92%, 1);
--taupe-gray: hsla(288, 2%, 54%, 1);

/* SCSS HEX */
$mystic-maroon: #b64c80ff;
$english-violet: #584264ff;
$chinese-red: #a93525ff;
$rose-ebony: #6b4241ff;
$flax: #dbcb8bff;
$alice-blue: #e4eaf1ff;
$taupe-gray: #8c888dff;

/* SCSS HSL */
$eleven: hsla(331, 42%, 51%, 1);
$english-violet: hsla(279, 20%, 33%, 1);
$chinese-red: hsla(7, 64%, 40%, 1);
$six: hsla(1, 24%, 34%, 1);
$flax: hsla(48, 53%, 70%, 1);
$alice-blue: hsla(212, 32%, 92%, 1);
$taupe-gray: hsla(288, 2%, 54%, 1);

/* Use this RGB */
$eleven: rgba(182, 76, 128, 1);
$three: rgba(185, 168, 199, 1);
$ten: rgba(73, 56, 87, 1);
$eight: rgba(169, 53, 37, 1);
$six: rgba(107, 66, 65, 1);
$seven: rgba(191, 162, 41, 1);
$five: rgba(172, 213, 216, 1);
$four: rgba(140, 186, 142, 1);
$taupe-gray: rgba(140, 136, 141, 1);
$inner-line: rgba(13, 31, 34, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-right: linear-gradient(
  90deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-bottom: linear-gradient(
  180deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-left: linear-gradient(
  270deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-top-right: linear-gradient(
  45deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-top-left: linear-gradient(
  225deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
$gradient-radial: radial-gradient(
  #b64c80ff,
  #584264ff,
  #a93525ff,
  #6b4241ff,
  #dbcb8bff,
  #e4eaf1ff,
  #8c888dff
);
